$white: #FEFEFE;
$red: #ef5350;

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    color: $white;
    padding: 3em;
    animation: 1s slide-right;
  }

  &__name {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0.25em;
  }

  &__border {
    border: 2px solid $red;
    width: 15%;
    margin-top: 1em;
  }

  &__author {
    margin-top: 5px;
    bottom: 2em;
    color: $white;
    opacity: 0.5;
  }

  &__text {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 40px;
    width: 900px;
    line-height: 32px;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
