$dark: #484855;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 30px auto 0;
  padding: 20px;
  // background-color: #424242;
  background-color: #3f3c3c;

  &__data,
  &__actions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input,
  &__textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px 5px;
    height: 32px;
    border-bottom: 1px solid $dark;
    opacity: 0.7;
    transition: 1.5s;
    font-size: 16px;
    padding-left: 8px;
    color: white;
    background-color: $dark;
    border-radius: 4px;
    letter-spacing: 1px;
  
    &:focus {
      transition: border-bottom 0.3s;
      border-bottom: 1px solid white;
    }


    &::placeholder {
      letter-spacing: 1.5px;
      color: white;
      font-size: 14px;
      opacity: 0.7;
    }
  }

  &__textarea {
    height: 400px;
    resize: none;
  }

  &__create,
  &__back {
    width: 100%;
    font-size: 12px;
    background-color: $dark;
    color: rgb(218, 210, 210);
    padding: 6px 0;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 1px solid $dark;
    cursor: pointer;

     &:hover {
      opacity: 0.8;
      transition: opacity 0.3s;
    }
  }

  &__back {
    margin-top: 10px;
  }
}
